body {
    background-color: #F9FAFC;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4F;
}

/* Navigation */

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    font-weight: 700;
    color: #4A4A4F;
}

.navbar {
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}


/* Footer */

.dark-bg {
    background-color: #445261;
}

a { color: inherit; } 

.footer-brand {
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Main content container */

.main-bg {
    background-color: #85bff2;
}

/* Blog Posts */

.post {
    border: 4px solid #6698d9;
    background-color: white;
    margin: auto;
    width: 90%;
}

.card {
    border: 4px solid #6698d9;
    background-color: white;
}

.card-post {
    background-color: white;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #518ea6;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 25%;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 150%;
    background: #445261;
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

/* Account Sign-Up */

.btn-signup {
    background-color: #518ea6;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #518ea6;
}



.link {
    color: #518ea6;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}