{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    
    <!-- About Section -->
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2>Welcome to Wunderlust</h2>
                            <p>Wunderlust is a travel blog and community for anyone who loves to travel. I have been
                                lucky enough to see some amazing places and wanted to be able to share some of my
                                highlights. I would love to hear some of your stories too so please feel free to create
                                your own post.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Entries Column -->
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row d-flex">
            {% for post in post_list %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card mb-4 post">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" alt="whitsundays beach" src="https://res.cloudinary.com/dvyrsxq7k/image/upload/v1646681060/static/media/whitsundays_2_smohgy.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}