{% extends "base.html" %}

{% block content %}
    <div class="container post-form mt-3 pb-3">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Delete Post</legend>
                        <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-danger right" type="submit">Delete</button>
                        <a class="btn btn-signup right" href="{% url 'post_detail' post.slug %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}